<!DOCTYPE html>
<html>
  <head>
    <title>Your Ideas, Never Forgotten</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <a class="navbar-brand" class="navbar-left"><%= image_tag "ideacloud.png", width: 200 %></a>
    <div class="btn-group">
      <% if current_user %>
          <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            <a> Welcome, <%= current_user.email %></a>
          </button>
          <div class="dropdown-menu dropdown-toggle-split">
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
      </div>
    </div>
  </nav>


<%= yield %>

  <div class="container" id="alerts">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <div class="mastfoot">
    <div class="inner">
      <a href="https://github.com/alvarodltp"> <i class="fa fa-github fa-2x"></i></a>
      <p><%= copyright_generator %></p>
    </div>
  </div>
  </body>
</html>
